<% if new == true %>
  <% website = Website.new %>
<% else %>
  <% website = !@website.id.nil? ? @website : Website.new %>
<% end %>

<%= simple_form_for(website) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="">
    <%= f.input :name, :label => "שם האתר" %>
    <% if website.url == nil %>
      <%= f.input :url, :label => "כתובת האתר", class: 'form-control'  %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <%= tag %>
    <% end %>
    <%= button_tag(type: 'button' , class: "btn btn-outline-secondary", data: { "bs-dismiss": "modal" } ) do %>
      סגירה
    <% end %>
  </div>
<% end %>
