<p id="notice"><%= notice %></p>

<h1>האתרים שלי</h1>

<table class="text-center">
  <thead>
    <tr>
      <th></th>
      <th>שם האתר</th>
      <th>כתובת האתר</th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= link_to website, method: :delete, data: { confirm: 'אתה בטוח? כל המידע יאבד' }, class: "text-danger" do %>
        <i class="">X</i>
        <% end %></td>
        <td class="px-3"><%= link_to website.name, website, class: "" %></td>
        <td class="px-3"><%= website.url %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'ליצירת אתר חדש', new_website_path %>
