<div class="row mb-4">
  <div class="col-lg-5 order-0 mb-2">
      <div class="card">
        <div class="d-flex align-items-end row">
          <div class="col-12">
            <div class="card-body">
            <h2 class="card-title text-primary">האתרים שלי</h2>

            <table class="w-100 mb-3">
              <thead>
                <tr>
                  <th class="px-3"></th>
                  <th class="px-3">שם</th>
                  <th class="px-3">כתובת</th>
                </tr>
              </thead>

              <tbody>
                <% @websites.each do |website| %>
                  <tr>
                    <td class="website-options">
                      <%= link_to website, method: :delete, data: { confirm: 'אתה בטוח? כל המידע יאבד' }, class: "text-danger" do %>
                        <i class="text-danger fa-solid fa-trash"></i>
                      <% end %>
                    </td>
                    <td class="px-3"><%= link_to website.name, website, class: "" %></td>
                    <td class="px-3"><%= website.url %></td>

                  </tr>
                <% end %>
              </tbody>
            </table>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#newWebsite"
              >
                הוסף אתר חדש
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6 order-0">
    <div class="card">
      <div class="d-flex align-items-end row">
        <div class="col-12">
          <div class="card-body">
            <h2 class="card-title text-primary">אתרים משותפים איתי</h2>

            <table class="text-center">
              <thead>
                <tr>
                  <th class="px-3">שם</th>
                  <th class="px-3">כתובת</th>
                  <th class="px-3">נוצר על ידי</th>
                </tr>
              </thead>

              <tbody>
                <% @shared_websites.each do |shared_website| %>
                  <tr>
                    <td class="px-3">
                      <%= link_to shared_website.website.name, shared_website, class: "" %>
                    </td>
                    <td class="px-3"><%= shared_website.website.url %></td>
                    <td class="px-3"><%= shared_website.website.user.email %></td>

                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
