<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @website.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @website.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @website.user_id %>
</p>

<br />

  <strong>keywords:</strong>
    <% @keywords.each do |keyword| %>
      <div class="keyword">
        <%= keyword.key_string %>
      </div>
    <% end %>

<%= link_to "search", website_search_add_path(@website) %>


<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
