
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center gap-2 w-100">
        <h2 class="m-0 text-center fw-bold text-primary">
          <%= @website.name %>
        </h2>
        <div class="h6 mt-2 mb-0 flex-grow-1">(
          <%= link_to URI::HTTP.build({:host => @website.url}).to_s, class: 'text-muted dropdown-link', target: "_blank" do %>
            <i class="text-muted fa-solid fa-arrow-up-right-from-square"></i>
            <%= @website.url %>
          <% end %>
        )</div>
        <div class="website-links d-flex align-items-center">

          <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#shareWebsiteModal"
          >
            <i class="fa-solid fa-user-plus"></i>
          </button>
          <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#editWebsiteModal"
          >
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
          <%= link_to @website, method: :delete, data: { confirm: 'אתה בטוח? כל המידע יאבד' }, class: "btn" do %>
            <i class="text-danger fa-solid fa-trash"></i>
          <% end %>

          <div class="modal fade" id="editWebsiteModal" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title mt-4 text-primary" id="backDropModalTitle">עריכה</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <%= render 'form', tag: "עדכן" %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="shareWebsiteModal" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title mt-4 text-primary" id="backDropModalTitle">שיתוף עם איש קשר</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <%= render 'shared_websites/form', tag: "שתף" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body p-0 pt-3" data-controller="table">
      <div class="input-group d-flex mb-2 me-2">
        <% keyword = Keyword.new %>
        <%= simple_form_for [ @website, keyword ] do |f| %>
        <div class="d-flex gap-2 align-items-center">
            <%= f.input_field :key_string, :label => false  , placeholder: "הזן מילות חיפוש", class: "form-control", "aria-label": "הזן מילות חיפוש"  %>
            <%= button_tag(type: 'submit', class: "btn btn-outline-primary", id: "button-addon2") do %>
              הוסף
            <% end %>
        </div>
        <% end %>
      </div>
      <% if @keywords.length != 0 %>
        <div class="mb-2" style="overflow-x:auto;" data-table-target="scollable">
          <table class="table table-striped" >
            <thead class="bg-white">
              <tr>
                <th class="bg-white sticky-cell-options" scope="col"></th>
                <th class="sticky-cell" scope="col">מילות חיפוש</th>
                <% @dates.each do |date| %>
                <th scope="col" class="date"><%= date.strftime('%d/%m/%Y') %></th>
              <% end %>
              </tr>
            </thead>
            <tbody>
              <% @keywords.each do |keyword| %>
              <% last_search = keyword.searches.first %>
              <tr>
                <td class="sticky-cell-options"><%= link_to website_keyword_path(@website, keyword), method: :delete, data: { confirm: 'אתה בטוח? כל המידע יאבד' }, class: "text-danger" do %>
                  <i class="btn p-0 text-danger">X</i>
                <% end %></td>
                <td class="keyword sticky-cell" scope="row"><%= keyword.key_string %></td>
                <% @dates.each do |date| %>
                  <% search = keyword.searches.select{|search| search[:date] == date}[0] %>
                  <% if search %>
                    <% change = 'same-rank' if search.rank.to_i == last_search.rank.to_i
                      change = 'lower-rank' if search.rank.to_i > last_search.rank.to_i
                      change = 'higher-rank' if search.rank.to_i < last_search.rank.to_i %>
                    <td class = "<%= "rank " + change %>"><%= search.rank %></td>
                  <% else %>
                    <td class = "rank"> - </td>
                  <% end %>
                  <% last_search = search unless search.nil? %>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      <div class="links d-flex justify-content-start align-items-center gap-3 p-3">
        <% if @keywords.length != 0 %>
          <%= link_to "בדוק מיקומים", website_search_add_path(@website), class: "btn btn-primary " %>
        <% end %>
        <%= link_to "חזור", websites_path, class: "btn btn-outline-primary " %>
      </div>
    </div>
  </div>
