<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @website.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @website.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @website.user_id %>
</p>

<br />

    <% dates =  Keyword.where(:id == @website.id).select(:created_at).first(4).uniq %>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Keyword</th>
      <% dates.each do |date| %>
        <th scope="col"><%= date.created_at.strftime("%d/%m/%Y") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <th>
          <%= keyword.key_string %>
        </th>
        <% keyword.searches.first(4).each do |search| %>
          <td><%= search.created_at.strftime("%d/%m/%Y")   %></td>
        <% end %>
        <th><%= link_to 'X', website_keyword_path(@website, keyword), method: :delete %></th>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <% keyword = Keyword.new %>
  <%= simple_form_for [ @website, keyword ] do |f| %>
  <%= f.input :key_string %>
  <%= f.button :submit %>
<% end %>
</div>

<%= link_to "search", website_search_add_path(@website) %> |
<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
