
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center px-4">
      <div class="d-flex align-items-center gap-2 px-4">
        <h2 class="m-0 text-center fw-bold text-primary">
          <%= @website.name %>
        </h2>
         <div class="text-muted h6 mt-2 mb-0">(<%= @website.url %>)</div>
      </div>
    </div>

    <div class="card-body p-0" data-controller="table">
      <div class="input-group d-flex mb-2 me-2">
        <% keyword = Keyword.new %>
        <%= simple_form_for [ @website, keyword ] do |f| %>
        <div class="d-flex gap-2 align-items-center">
            <%= f.input_field :key_string, :label => false  , placeholder: "הזן מילות חיפוש", class: "form-control", "aria-label": "הזן מילות חיפוש"  %>
            <%= button_tag(type: 'submit', class: "btn btn-outline-primary", id: "button-addon2") do %>
              הוסף
            <% end %>
        </div>
        <% end %>
      </div>


    <div class="mb-2" style="overflow-x:auto;" data-table-target="scollable">
     <table class="table table-striped" >
      <thead class="bg-white">
        <tr>
          <th class="bg-white sticky-cell-options" scope="col"></th>
          <th class="sticky-cell" scope="col">מילות חיפוש</th>
          <% @dates.each do |date| %>
          <th scope="col" class="date"><%= date.strftime('%d/%m/%Y') %></th>
        <% end %>
        </tr>
      </thead>
      <tbody>


        <% @keywords.each do |keyword| %>
        <% last_search = keyword.searches.first %>
        <tr>
          <td class="sticky-cell-options"><%= link_to website_keyword_path(@website, keyword), method: :delete, data: { confirm: 'אתה בטוח? כל המידע יאבד' }, class: "text-danger" do %>
            <i class="btn p-0 text-danger">X</i>
          <% end %></td>
          <td class="keyword sticky-cell" scope="row"><%= keyword.key_string %></td>
          <% @dates.each do |date| %>
            <% search = keyword.searches.select{|search| search[:date] == date}[0] %>
            <% if search %>
              <% change = 'same-rank' if search.rank.to_i == last_search.rank.to_i
                 change = 'lower-rank' if search.rank.to_i > last_search.rank.to_i
                 change = 'higher-rank' if search.rank.to_i < last_search.rank.to_i %>
              <td class = "<%= "rank " + change %>"><%= search.rank %></td>
            <% else %>
              <td class = "rank"> - </td>
            <% end %>
            <% last_search = search unless search.nil? %>
          <% end %>
        </tr>
        <% end %>
       </tbody>
    </table>
    </div>


    <div class="links d-flex justify-content-between align-items-center gap-3 p-3">
      <%= link_to "בדוק מיקומים", website_search_add_path(@website), class: "btn btn-primary " %>
    </div>
    </div>
  </div>
