<div class="container">
  <div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center px-4">
      <h1 class="m-0 text-center fw-bold"><%= @website.name %></h1>
      <div class="d-flex gap-2 align-items-center">
        <%= link_to website_path(@website.id), id: "dropdownMenuButton", data: {toggle: "dropdown"} do %>
        <% end %>
        <div class="drop-down">
          <button class="btn btn-outline-primary px-2 py-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-bars h4 mt-2"></i>
          </button>
          <div class="custom-drop-down-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to new_shared_website_path(:website_id => @website.id), class: "dropdown-item" do %>
            שתף
          <% end %>
            <a class="dropdown-item" href="#">מחק</a>
            <%= link_to @website.url, URI::HTTP.build({:host => @website.url}).to_s, class: 'dropdown-item', target: "_blank" %>
          </div>
        </div>

      </div>

    </div>
    <div class="card-body">
      <div class="new-key-word d-flex mb-2">
        <% keyword = Keyword.new %>
        <%= simple_form_for [ @website, keyword ] do |f| %>
        <div class="d-flex gap-2 align-items-center">
            <%= f.input_field :key_string, :label => false  , placeholder: "הזן מילות חיפוש" %>
            <%= button_tag(type: 'submit', class: "btn-custom") do %>
              הוסף
            <% end %>
        </div>
        <% end %>
      </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">מילות חיפוש</th>
          <% @dates.each do |date| %>
          <th scope="col" class="date"><%= date.strftime('%d/%m/%Y') %></th>
        <% end %>
        </tr>
      </thead>
      <tbody>

        <% @keywords.each do |keyword| %>
        <% last_search = keyword.searches.first %>
        <tr>
          <th class="keyword" scope="row"><%= keyword.key_string %></th>
          <% @dates.each do |date| %>
            <% search = keyword.searches.select{|search| search[:date] == date}[0] %>
            <% if search %>
              <% change = 'same-rank' if search.rank.to_i == last_search.rank.to_i
                 change = 'lower-rank' if search.rank.to_i > last_search.rank.to_i
                 change = 'higher-rank' if search.rank.to_i < last_search.rank.to_i %>
              <td class = "<%= "rank " + change %>"><%= search.rank %></td>
            <% else %>
              <td class = "rank"> - </td>
            <% end %>
            <% last_search = search unless search.nil? %>
          <% end %>
        </tr>
        <% end %>
       </tbody>
    </table>

    <div class="links d-flex justify-content-between align-items-center gap-3">
      <%= link_to "בדוק מיקומים", website_search_add_path(@website), class: "btn btn-primary " %>
    </div>
    </div>
  </div>
</div>
