<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <%= render 'shared/logo' %>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1" data-controller="menu">
    <!-- Dashboard -->
    <li class="menu-item  <%= current_class?(websites_path) %> ">
      <%= link_to websites_path, class: 'menu-link', data: { "turbo-frame": "content"} do %>
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">לוח מנהל</div>
      <% end %>
    </li>

    <!-- Layouts -->


    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">מיקום אתרים</span>
    </li>

    <li class="menu-item dropdown">
      <button class="btn menu-link menu-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="menu-icon tf-icons bx bx-dock-top m-0 ms-1"></i>
        האתרים שלי
      </button>
      <ul class="menu-sub">
        <% @websites.each do |website| %>
          <li class="menu-item <%= current_class?(website_path(website)) %> ">
            <%= link_to website, class: "menu-link", data: { "turbo-frame": "content"} do %>
              <div data-i18n="Account"><%= website.name %></div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
    <li class="menu-item dropdown">
      <button class="btn menu-link menu-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="menu-icon tf-icons bx bx-dock-top m-0 ms-1"></i>
        משותפים איתי
      </button>

      <ul class="menu-sub">
        <% @shared_websites.each do |website| %>
          <li class="menu-item <%= current_class?(shared_website_path(website.id)) %> ">
            <%= link_to website.website, class: "menu-link", data: { "turbo-frame": "content"} do %>
              <div data-i18n="Account"><%= website.website.name %></div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>

    <li class="menu-item text-center mt-2">
      <button
        type="button"
        class="btn btn-outline-primary btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#newWebsiteSideBar"
      >
        אתר חדש
      </button>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">בדיקת לינקים</span>
    </li>

  </ul>
</aside>
<div class="modal fade" id="newWebsite" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-4 text-primary" id="backDropModalTitle">הוספת אתר חדש</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <%= render 'websites/form', tag: "צור", new: false %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newWebsiteSideBar" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-4 text-primary" id="backDropModalTitle">הוספת אתר חדש</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <%= render 'websites/form', tag: "צור", new: true %>
      </div>
    </div>
  </div>
</div>
