<%= turbo_frame_tag("keywords") do %>
  <table class="table table-striped" >
    <thead class="bg-white">
      <tr>
        <th class="bg-white sticky-cell-options text-center" scope="col">

        </th>
        <th class="sticky-cell" scope="col"><%= sort_link(@q, :created_at, "מילות חיפוש", default_order: :asc) %></th>
        <% @dates.each do |date| %>
          <th scope="col" class="date">
          <%= link_to website_path(@website), data: { "turbo-frame": "keywords" } do %>
            <%= date.strftime('%d/%m/%Y')%>
          <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="100%" class="text-end">
          <%= turbo_frame_tag("add-keyword") do %>

          <% end %>
        </td>
      </tr>
      <%= render 'shared/keywords', keywords: @keywords %>
    </tbody>
  </table>
<% end %>
