<%= search_form_for(@q, url: website_keywords_path(@website) , method: :get, data: { turbo_frame: 'keywords' }) do |f|  %>
  <%= f.search_field :key_string_i_cont_any, placeholder: "חפש" %>
  <%= f.submit 'חפש' %>
<% end %>
<%= turbo_frame_tag("keywords") do %>
<% @keywords.each do |keyword| %>
      <% last_search = keyword.searches.first %>
      <tr>
        <td class="sticky-cell-options">
          <div class="d-flex gap-1">
            <%= link_to website_keyword_search_create_path(@website,keyword), class: "keyword-option" do %>
              <i class="text-primary fa-solid fa-arrows-rotate"></i>
            <% end %>
            <%= link_to website_keyword_path(@website, keyword), data: {"turbo-method": :delete, turbo_confirm: 'אתה בטוח? כל המידע יאבד' }, class: "text-danger" do %>
              <i class="btn p-0 text-danger">X</i>
            <% end %>
          </div>
        </td>
        <td class="keyword sticky-cell" scope="row"><%= keyword.key_string %></td>
        <% @dates.each do |date| %>
          <% search = keyword.searches.select{|search| search[:date] == date}[0] %>
          <% if search %>
            <% change = 'same-rank' if search.rank.to_i == last_search.rank.to_i
              change = 'lower-rank' if search.rank.to_i > last_search.rank.to_i
              change = 'higher-rank' if search.rank.to_i < last_search.rank.to_i %>
            <td class = "<%= "rank " + change %>"><%= search.rank %></td>
          <% else %>
            <td class = "rank"> - </td>
          <% end %>
          <% last_search = search unless search.nil? %>
        <% end %>
      </tr>
    <% end %>
<% end %>
