<!DOCTYPE html>
<html>
  <head>
    <title>SeoTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body dir="rtl">
    <%= render 'shared/navbar' %>
    <div class="page_layout">
      <%= render 'shared/sidebar' %>
      <div class="container page_content">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
